#product-container {
    border: 1px solid black;
}

#results-container {
    display: flex;
    justify-content: space-evenly;
}

#button-container {
    display: flex;
    justify-content: space-evenly;
}

#choice-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.product-image {
    height: 200px;
    width: 200px;
}

input {
    visibility: hidden;
}

header {
    text-align: center;
}